# Ignore some files used for preliminary/complementary analysis
scrapbook.R
6-bootstrap.*
7-prediction.*
analysis.*

# Intermediate and other auxiliary files
*.html
*.eps
*.pdf
*.ai
osvaldo_list_130424.rtf
2013-03-11-merged_data.Rproj
ic_ec.Rdata
cache/
.Rproj.user
.Rhistory
.RData
.DS_Store
